body {
    margin: 0;
    color: #888;
    font-family: sans-serif;
}

a {
    color: #3196BE;
}

header {
    background-color: #3196BE;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.logo {
    width: 20%;
    float: left;
    padding: 5px;
}

nav {
    text-align: right;
    margin: 0 auto;
    width: 980px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 100;
}

nav a:hover {
    background-color: #03678C;
    font-weight: bold;
}

/* Main Content */
.container {
    margin: 15px auto 0 auto;
    max-width: 980px;
    height: 100%;
}

#main {
    width: 70%;
    margin-right: 5%;
    float: left;
}

.page-heading {
    color: #5B0559;
    font-weight: lighter;
    font-size: 2.4rem;
}

.mobile-info {
    background-color: #BED8C5;
    padding: .5% 2%;
}

.mobile-title {
    color:#5B0559;
}

.phone-art {
    width: 10%;
    float: right;
}


/* Sidebar Content */
aside {
    width: 25%;
    float: right;
}

.button-modal {
    background-color: #5B0559;
    color: white;
    text-decoration: none;
    padding: 10px 28px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.button-modal:hover {
    background-color: white;
    color: #5B0559;
    border: 2px solid #5B0559;
}

.tab-container {
    width: 100%;
}

/* Footer */
footer {
    background-color: #e6e6e6;
    width: 100%;
    height: 50px;
    bottom: 0;
    position: absolute;
}

/* Modal */

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.login-form {
    width: 50%;
    height: 300px;
    background-color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}

.form-btn {
    background-color: #5B0559;
    color: white;
    text-decoration: none;
    padding: 10px 28px;
    display: inline-block;
}

.form-btn:hover {
    background-color: white;
    color: #5B0559;
    border: 2px solid #5B0559;
}

.close-btn {
    color: #5B0559;
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 38px;
    font-weight: bold;
    cursor: pointer;
}

input {
    width: 50%;
    display: block;
    margin: 15px auto;
}
